
/// Web Fonts
//@import "mixins/web-fonts";

/// opacity
@import "mixins/opacity";

/// Size
@import "mixins/size";

/// Transform
@import "mixins/transform";


@mixin transition-transform($transition...) {
          transition: transform $transition;
}

@mixin box-shadow($shadow...) {
          box-shadow: $shadow;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}