_site/
.sass-cache/
.jekyll-metadata
.sass-cache/
*.css.map
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
Saint-Patrick.ai
SaintPatrick.png
SaintPatrick.sublime-project
SaintPatrick.sublime-workspace
angular-lib.js
assets/css/style.old.css
assets/images/hat.svgz
dist/
src/js/ja.js
style.css
svg2svgz